hr {
  display: none;
}

.Forecast {
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.Forecast-sky:first-letter {
  text-transform: uppercase;
}

.Forecast-temperatures {
  white-space: nowrap;
}

.Forecast-temperature-min {
  color: rgb(208, 209, 210);
  margin-left: 8px;
}

@media (max-width: 576px) {
  hr {
    display: block;
  }

  .row {
    margin: 5px;
  }
}
