hr {
  display: none;
}

.Forecast {
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.row {
  margin: 5px 50px 5px 40px;
}

@media (max-width: 576px) {
  hr {
    display: block;
  }

  .row {
    margin: 5px;
  }
}
