hr {
  display: none;
}

.Forecast {
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: rgba(110, 110, 110, 0.1);
  border-radius: 35px;
  max-width: 90%;
}

.Forecast-sky:first-letter {
  text-transform: uppercase;
}

.Forecast-temperatures {
  white-space: nowrap;
}

.Forecast-temperature-min {
  color: rgb(208, 209, 210);
  margin-left: 8px;
}

@media (max-width: 576px) {
  hr {
    display: block;
    padding: 0px;
    margin: 0 auto;
  }

  .row {
    margin: 5px;
  }
}
