h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.tempNumber {
  margin: 0px 3px 0px 12px;
}

.scale {
  font-size: 22px;
  line-height: 40px;
  vertical-align: text-top;
}

.scaleCelsius {
  margin-right: 8px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 38px;
  }

  .scale {
    font-size: 20px;
    line-height: 30px;
    vertical-align: text-top;
  }
}
